<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Response</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container-dashboard">
        <h1>Enter the summary!</h1>

        <textarea id="summaryInput" placeholder="Enter the summary here"></textarea>
        <button class="button-getResponse"onclick="getResponse()">Get Response</button>
        <div id="response"></div>
    </div>
        <button class="logout-button" onclick=" return redirectToLogout()">Go to Logout</button>

        <script>
            function redirectToLogout() {
                window.location = "logout"; 
                return false;
            }
            function getResponse() {
                var summary = document.getElementById("summaryInput").value;
                var response = "Thank you for your summary: " + summary;
                document.getElementById("response").innerText = response;
            }
        </script>
</body>
</html>

