<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="static/style.css"> 
</head>

<body>
    <div class="container">
        
         <div class="header">
            <h1>Welcome to our Text Similarity Tester!</h1>
        </div>
        <div class="content">
            <p>
                Using a pre-trained model, we've created a system that evaluates the similarity between your text and the content in our Jira tickets. Our tool delivers accurate results, whether you're searching for related information, seeking personalized suggestions, or ensuring originality. Simply enter your text, and our model will analyze it . 
            </p>
        </div>
    </div>
    <img src="https://media.licdn.com/dms/image/D4E0BAQFPJ4arGSb5Tg/company-logo_200_200/0/1696589536789/vermeg_logo?e=2147483647&v=beta&t=FfwuuyuYScYvQyK_Or5Du6gt03SQEg8LtSQJSjuGmPc" alt="logo Photo" class="photo" > 
    <button onclick=" return redirectToLogin()">Go to Login</button>

   
    <script>
        function redirectToLogin() {
            window.location = "login"; 
            return false;
        }
    </script>
</body>

</html>




